# Auto detect text files and perform LF normalization
* text=auto

# Forcer spécifiquement les fichiers YAML et de configuration en LF
*.yml text eol=lf
*.yaml text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf
